.contenedor{
    background-color: hotpink;
    padding: 5px;
    border:  1px solid black;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-wrap: wrap;
}

.box{
    border: 3px solid black;
    font-size: 30px;
    text-align: center;
    margin: 14px;

    width: 180px;
}